# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#BACK DOTNET
/Back/dotnet/*/*.swp
/Back/dotnet/*/*.*~
/Back/dotnet/*/project.lock.json
/Back/dotnet/*/.DS_Store
/Back/dotnet/*/*.pyc

# Visual Studio Code
/Back/dotnet/*/.vscode

# User-specific files
/Back/dotnet/*/*.suo
/Back/dotnet/*/*.user
/Back/dotnet/*/*.userosscache
/Back/dotnet/*/*.sln.docstates

# Build results
/Back/dotnet/*/[Dd]ebug/
/Back/dotnet/*/[Dd]ebugPublic/
/Back/dotnet/*/[Rr]elease/
/Back/dotnet/*/[Rr]eleases/
/Back/dotnet/*/x64/
/Back/dotnet/*/x86/
/Back/dotnet/*/build/
/Back/dotnet/*/bld/
/Back/dotnet/*/[Bb]in/
/Back/dotnet/*/[Oo]bj/
/Back/dotnet/*/msbuild.log
/Back/dotnet/*/msbuild.err
/Back/dotnet/*/msbuild.wrn

# Visual Studio 2015
/Back/dotnet/.vs/