<main id="main" class="main">
  <div class="pagetitle">
    <h1>Jornada - Acompanhamento</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/">Jonada</a></li>
        <li class="breadcrumb-item">Acompanhamento</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body" *ngIf="_jornadas == null">
            <div class="list-group">
              <button type="button" *ngFor="let item of jornadas" (click)="criaBloco(item.idFase);"
                class="list-group-item list-group-item-action"
                [ngClass]="{'item_true': item.faseFinalizada == true}">{{item.idFase}} - {{item.textoFase}}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="card" *ngIf="_observacoes != null">
          <div class="card-body">
            <form [formGroup]="cadastroForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Observação</label>
                <textarea class="form-control" aria-label="With textarea" formControlName="observacao"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Data Observação</label>
                <input type="datetime-local" class="form-control" formControlName="dataDaObservacao" placeholder="Data">
              </div>
              <div class="form-group">
                <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                  data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                <label class="form-check-label" for="exampleCheck1">Fase Finalizada?</label>
                <select formControlName="fase" class="custom-select custom-select-md w-auto mr-1">
                  <option value="1">Não</option>
                  <option value="2">Sim</option>
                </select>
                <br><br>
                <span class="input-icon input-icon-sm ml-auto w-auto">
                  <button type="button" class="btn btn-primary" (click)="insereAnotacao()">Incluir</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




    <!-- 
        <div class="split right" *ngIf="_observacoes != null">
            <div class="centered">
                
                    <div class="form-group">
                      <label for="exampleInputEmail1">Observação</label>
                      <textarea class="form-control" aria-label="With textarea" [(ngModel)]="observacao"
                      [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Data Observação</label>
                      <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="Data" [(ngModel)]="dataObservacao"
                      [ngModelOptions]="{standalone: true}">
                    </div>

                <div class="form-group">
                        <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                        <label class="form-check-label" for="exampleCheck1">Fase Finalizada?</label>
                        <select [(ngModel)]="faseFinalizadaSelect" [ngModelOptions]="{standalone: true}" class="custom-select custom-select-md w-auto mr-1">
                          <option value="1">Não</option>
                          <option value="2">Sim</option>
                        </select>
                        <br><br>
                        <span class="input-icon input-icon-sm ml-auto w-auto">
                            <button type="button" class="btn btn-info btn-lg" (click)="insereAnotacao()">Incluir</button>
                        </span>

                </div>
            </div>
        </div> -->
  </section>
</main>