<header id="header" class="header fixed-top d-flex">
      <div class="col-md-2">
         <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard" class="logo d-flex align-items-center"> <img src="/assets/img/logo-principal.png" alt="logonew"> </a> <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i></div>
      </div>
      <div class="col-md-8">
      
      </div>
      <div class="col-md-2">
         <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
               <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i class="bi bi-search"></i> </a></li>
               <li class="nav-item dropdown pe-3">
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <span class="d-none d-md-block dropdown-toggle ps-2"> {{  usuario.nome }} </span> </a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                     <li class="dropdown-header">
                        <h6>{{usuario.nome}}</h6>
                     </li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li> <a class="dropdown-item d-flex align-items-center" routerLink="/meu-perfil"> <i class="bi bi-person"></i> <span>Minha Conta</span> </a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li> <a class="dropdown-item d-flex align-items-center" routerLink="/faq"> <i class="bi bi-question-circle"></i> <span>Ajuda</span> </a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li> <a class="dropdown-item d-flex align-items-center" (click)="logout()"> <i class="bi bi-box-arrow-right"></i> <span>Sair</span> </a></li>
                  </ul>
               </li>
            </ul>
         </nav>
      </div>

 </header>
