<div class="deznav">
    <div class="deznav-scroll" [perfectScrollbar]>
        <ul class="metismenu" id="menu" metis-menu>
            <li [ngClass]="{'mm-active': dashboardArray.indexOf(currentHref) > -1}">
                <a class="has-arrow ai-icon" [routerLink]="['/admin/index']" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': apsArray.indexOf(currentHref) > -1}">
                <a class="has-arrow ai-icon" [routerLink]="['/admin/app-calender']" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Jornada</span>
                </a>
            </li>
            
           
        </ul>
        
    </div>
</div>