<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a [routerLink]="['/admin/index']"><img src="assets/images/logo-full.png" alt=""></a>
                                </div>
                                <form action="['/admin/index']">
                                    <div class="form-group">
                                        <label class="mb-1"><strong>E-mail</strong></label>
                                        <input type="email" class="form-control" placeholder="Digite seu e-mail" #userName required>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Senha</strong></label>
                                        <input type="password" class="form-control" placeholder="Senha" #userPassword required>
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                           <div class="custom-control custom-checkbox ml-1">
                                                <input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                <label class="custom-control-label" for="basic_checkbox_1">Lembrar minha senha</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a [routerLink]="['/page-forgot-password']">Esqueci minha senha</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input type="button" class="btn btn-primary btn-block" value="Entrar" (click)="authService.SignIn(userName.value, userPassword.value)">
                                    </div>
                                </form>
                                <div class="formGroup">
                                    <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                                      <i class="fab fa-google-plus-g"></i>
                                      Entre com sua conta Google
                                    </button>
                                  </div>
                                <div class="new-account mt-3">
                                    <p>Não tem uma conta? <a class="text-primary" [routerLink]="['/page-register']">Cadastre-se</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>