<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/calendario"> <i class="bi bi-calendar-minus-fill"></i> <span>Calendário</span> </a></li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Jornada</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/jornada"> <i class="bi bi-circle"></i><span>Iniciar a Jornada</span> </a></li>
             <li> <a routerLink="/jornada-acompanhamento"> <i class="bi bi-circle"></i><span>Acompanhar a Jornada</span> </a></li>
             <li> <a routerLink="/anotacoes"> <i class="bi bi-circle"></i><span>Consultar Anotações</span> </a></li>
          </ul>
       </li>
       
    </ul>
 </aside>