<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-6">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Timeline</h5>
                  <div class="activity">
                     <div *ngIf="RecebeAnotacoes.length <= 0">
                        Nenhuma anotação criada.
                     </div>
                     <div class="activity-item d-flex" *ngFor="let anotacoes of RecebeAnotacoes;">
                        <div class="activite-label" style="min-width: 5.5rem;">{{anotacoes.dataLocal}}</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content"> {{anotacoes.observacao}}</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>