
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      Um portal criado com o olhar de quem ama.
    </div>
    <div class="d-none d-lg-flex social-links align-items-center">
    </div>
  </div>
</div>

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a href="" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"> Vida Autista</a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" (click)="scroll(home)">Home</a></li>
        <li><a class="nav-link scrollto" (click)="scroll(sobre)">Sobre Nós</a></li>
        <li><a class="nav-link scrollto" (click)="scroll(time)">Nosso Time</a></li>
        <li><a class="nav-link scrollto" (click)="scroll(aspiracoes)" >Nossas Aspirações</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <a href="" class="appointment-btn scrollto" data-toggle="modal" data-target="#modalCadastro"> Criar Conta</a>
    <a href="" class="appointment-btn scrollto" data-toggle="modal" data-target="#modalLogin"> Entrar</a>

  </div>
</header>

  <section id="hero" #home class="d-flex align-items-center">
    <div class="container">
      <h1>Seja bem vindo ao Vida Autista</h1>
      <h2>Um portal criado para te auxiliar no tratamento de pessoas com autismo.</h2>
      <a href="#about" class="btn-get-started scrollto">Saiba Mais</a>
    </div>
  </section>

    <section #sobre class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="content">
              <h3 class="text-center">Sobre Nós</h3>
              <p> 
                Uma plataforma no qual focamos em auxiliar as pessoas na sua jornada em busca do diagnostico de TEA, no qual iremos apontar profissionais e 
                dicas para que nesse tempo de investigação vocês não percam tempo com idas e vindas desnecessárias e com informações passadas de maneira 
                incorreta, que muita das vezes e disseminada por profissionais mal informados e desatualizados, afinal de contas o tempo e o bem mais precioso
                para o desenvolvimento de qualquer crianca e principalmente do autista. 
              </p>
              <p>
                Estamos nos dedicando para centralizar o passo a passo e orientações relacionadas a quais profissionais buscar, 
                retornos aceitáveis ou busca de posições de outros profissionais e etc. Jornada elaborada por pessoas que ja passaram por essa 
                fase de diagnostico e por profissionais especializados em comportamento (ABA), tudo isso para que o diagnostico seja assertivo 
                e seu tempo valorizado.
              </p>   
            </div>
          </div>
        </div>

      </div>
    </section>

    <section #time class="doctors section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Nosso Time</h2>
        </div>
        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic">
                <img src="assets/images/time/sergio.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Sergio Castelo Pinheiro</h4>
                <span>Scrum Master</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/sergio-castelo-pinheiro/" target="_blank"><i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/karen.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Karen Dunkl</h4>
                <span>Front-End Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/karen-dunkl-bb8927bb/" target="_blank" > <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/wilham.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Mitsuo Komori</h4>
                <span>Fullstack Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/william-mitsuo-komori/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/Augusto.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Augusto Barbosa</h4>
                <span>Back-End Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/barbosaaugusto/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/jackson.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Jackson Braga</h4>
                <span>Back-End Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/jackson-braga-6507317b/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/Felipe.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Felipe Martinelli</h4>
                <span>Back-End Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/felipe-martinelli/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/images/time/nicolas.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Nicollas M. Rezende</h4>
                <span>Front-End Developer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/nicollasmiyashiro/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section #aspiracoes class="about section-bg section-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

            <div class="section-title">
              <h2>Nossas Aspirações</h2>
            </div>

            <p>Para viabilizar a criação do nosso projeto buscamos opiniões e informações diversas.</p>
            <p>Devido a certas facilitacoes e experiencias internas de membros do grupo, tivemos acesso a diversos impasses que a comunidade
              autista enfrenta ao longo de sua jornada em busca do diagnostico, tais como: A falta do diagnostico, orientacoes improprias, 
              tratamentos inadequados e etc, isso nos dispertou um interesse em tentar ajudar
              a facilitar esse processo pra comunidade do espectro autista.</p>
            <p>Conhecer a realidade vivenciada pelos autistas e pessoas que acompanham os mesmos que na grande maioria 
              sao menores de idade foi o primeiro passo para idealizacao e formalizacao
              das nossas ideias em relacao as funcionalidades da plataforma.</p>
            <p>Aos entrevistados John Muller e Jacqueline Marques, psicologos especializados em comportamento e profissionais experientes e atuantes na intervencao terapeutica em autistas
              e ao Augusto Barbosa nosso integrante do grupo e tambem pai do Heitor Barbosa, seu filho autista no qual a vivencia deles juntamente com a esposa Isabella Barbosa, nos motivou e cativou com a ideia do projeto, para todos, os nossos
              sinceros agradecimentos pela colaboracao e pelo apoio imensuravel ao projeto.</p>
          </div>
        </div>
      </div>
    </section>
  <footer id="footer">
    <div class="container py-4">
      <div class="me-md-auto text-center text-md-start" style="margin-left: 0;">
        <div class="copyright">
          <strong><span>Grupo E - MBA Engenharia de Software</span></strong>
        </div>
        <div class="credits">
          Faculdade Impacta 
        </div>
      </div>
    </div>
  </footer>




    <!-- MODAL CADASTRO USUARIO -->

    <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title text-center">
            Cadastre-se
          </h5>
          <button type="button " class="close" data-dismiss="modal" aria-label="Fechar" id="btnFecharUsuario">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputNome">Nome Completo</label>
              <input type="nome" id="inputnome" class="form-control" [(ngModel)]="nomeCompleto"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome completo" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputEmail">E-mail</label>
              <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputTelefone">Telefone</label>
              <input type="number" id="inputTelefone" class="form-control" [(ngModel)]="telefone"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputTelefone">Data de Nascimento</label>
              <input type="date" id="inputDataNascimento" class="form-control" [(ngModel)]="dataNascimento"
                [ngModelOptions]="{standalone: true}" placeholder="Digite sua data de Nascimento" required autofocus>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputPassword">Senha</label>
              <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senha"
                [ngModelOptions]="{standalone: true}" placeholder="Digite a sua senha (minimo de 10 caracteres)"
                (keypress)="forcaSenha();" (keyup)="forcaSenha();" required data-toggle="tooltip"
                title="Para a senha ser forte digite ao menos 10 dígitos e um caracter especial (@, %, #, &, $)">

              <span id="spanSenhaFraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
              <span id="spanSenhaForte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
            </div>

            <div class="form-label-group mt-3">
              <label for="inputPassword">Confirme a senha</label>
              <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senhaRepetida"
                [ngModelOptions]="{standalone: true}" placeholder="Repita a sua senha" required>
              <span id="spanPadrao" *ngIf='_msgSenha'>{{_msgSenha}}</span>

            </div>

            <button class="btn-get-started"  (click)="valida();">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title text-center">
          Entrar
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="btnfecharLogin">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <div class="form-label-group">
            <label for="inputEmail">E-mail</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de e-mail" required autofocus
              [(ngModel)]="emailLogin" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-label-group mt-3">
            <label for="inputPassword">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" [(ngModel)]="senhaLogin"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="custom-control custom-checkbox mb-3 mt-3">
            <label class="custom-control-label " for="customCheck1">Lembrar-me</label>
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <br>
            <a href="#">Esqueceu a senha? Clique aqui</a>
          </div>
          <button class="btn-get-started" (click)="validaLogin();">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>


  <!-- MODAL CADASTRO PROFISSIONAL -->

  <div class="modal fade" id="modalCadastroProfissional" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title text-center">
            Cadastre-se
          </h5>
          <button type="button " class="close" data-dismiss="modal" aria-label="Fechar" id="btnFecharEmpresa">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputnomeprofissional">Nome Completo</label>
              <input type="nome" id="inputnomeprofissional" class="form-control" [(ngModel)]="nomeCompletoProfissional"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome completo" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputEmailprofissional">E-mail</label>
              <input type="email" id="inputEmailprofissional" class="form-control" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputTelefoneprofissional">Telefone</label>
              <input type="number" id="inputTelefoneprofissional" class="form-control" [(ngModel)]="telefone"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputDocumentoprofissional">Documento de Identificação</label>
              <input type="number" id="inputDocumentoprofissional" class="form-control" [(ngModel)]="documento"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu documento" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroDocumento'>{{_msgErroDocumento}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputPasswordprofissional">Senha</label>
              <input type="password" id="inputPasswordprofissional" class="form-control" [(ngModel)]="senha"
                [ngModelOptions]="{standalone: true}" placeholder="Digite a sua senha (minimo de 10 caracteres)"
                (keypress)="forcaSenha();" (keyup)="forcaSenha();" required data-toggle="tooltip"
                title="Para a senha ser forte digite ao menos 10 dígitos e um caracter especial (@, %, #, &, $)">

              <span id="spanSenhaFraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
              <span id="spanSenhaForte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
            </div>

            <div class="form-label-group mt-3">
              <label for="inputPasswordprofissional">Confirme a senha</label>
              <input type="password" id="inputPasswordprofissional" class="form-control" [(ngModel)]="senhaRepetida"
                [ngModelOptions]="{standalone: true}" placeholder="Repita a sua senha" required>
              <span id="spanPadrao" *ngIf='_msgSenha'>{{_msgSenha}}</span>

            </div>

            <a class="btn-get-started" (click)="validaProfissional();">Cadastrar</a>
            
          </form>
        </div>
      </div>
    </div>